In [1]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]
#names

In [3]:
import sqlite3
connection = sqlite3.connect('sample.db')

In [4]:
insert_query = 'INSERT INTO people(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [9]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

(1, 'Blake', 'Walsh')
(2, 'Erica', 'Norton')
(3, 'Sandra', 'Myers')
(4, 'James', 'Burgess')
(5, 'John', 'Abbott')
(6, 'Kevin', 'Hunter')
(7, 'Scott', 'Glass')
(8, 'Robert', 'Wilson')
(9, 'Alice', 'Garcia')
(10, 'Michael', 'Hernandez')

In [5]:
query = 'SELECT * FROM people'
count = 0
for result in cursor.execute(query):
    print(result)
    count += 1
    if count > 10:
        break

(1, 'Blake', 'Walsh')
(2, 'Erica', 'Norton')
(3, 'Sandra', 'Myers')
(4, 'James', 'Burgess')
(5, 'John', 'Abbott')
(6, 'Kevin', 'Hunter')
(7, 'Scott', 'Glass')
(8, 'Robert', 'Wilson')
(9, 'Alice', 'Garcia')
(10, 'Michael', 'Hernandez')
(11, 'Rachel', 'Parker')

In [6]:
query = 'SELECT * FROM people LIMIT 10'
for result in cursor.execute(query):
    print(result)

(1, 'Blake', 'Walsh')
(2, 'Erica', 'Norton')
(3, 'Sandra', 'Myers')
(4, 'James', 'Burgess')
(5, 'John', 'Abbott')
(6, 'Kevin', 'Hunter')
(7, 'Scott', 'Glass')
(8, 'Robert', 'Wilson')
(9, 'Alice', 'Garcia')
(10, 'Michael', 'Hernandez')